.AppNavbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	border-bottom: 1px solid #0E0403;
	background-color: white;
    padding-left: 1rem;
	padding-right: 1rem;
}

.AppNavbarItem {
	object-fit: contain;
	height: 40px;
	outline: none;
}
